body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #23272A;
}

header {
    background-image: url('images/background.jpg');
    background-size: cover; /* ou 'contain' dependendo da preferência */
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    max-width: 100%;
    height: 100%;
    color: white;
    padding: 24px;

    @media screen and (min-width: 768px) { /* desktop */
        text-align: center;
    }
    @media screen and (min-width: 1024px) { /* desktop */
        padding: 24px 48px;
    }
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 768px) { /* desktop */
        flex-direction: row;
    }
}

.buttonBaixar,
.buttonAbrir {
    font-family: "Open Sans", sans-serif;
    border: none;
    border-radius: 28px;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    @media screen and (min-width: 768px) { /* desktop */
        max-width: 20rem;
    }
}

.buttonBaixar {
    background-color: #FFFFFF;
}

.buttonAbrir {
    background-color: #23272A;
    color: #ffffffe4;
}

h1 {
    font-family: var(--font-headline);
    text-rendering: geometricPrecision;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 2rem;
    text-align: left;
}

h2 {
    font-family: var(--font-headline);
    text-rendering: geometricPrecision;
    font-weight: 800;
    font-size: 1.5rem;
    color: #23272A;
}

p {
    font-family: var(--font-headline);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    justify-content: center;
    align-items: center;
}

.last-grid-item {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.last-grid-item h1 {
    text-align: center;
}

.white-bg {
    background-color: white;
    @media screen and (min-width: 1024px) { /* !tablet */
        flex-direction: row;
    }
}

.gray-bg {
    background-color: rgba(128, 128, 128, 0.086);
    @media screen and (min-width: 1024px) { /* !tablet */
        flex-direction: row-reverse;
    }
}

.last-gray-bg {
    background-color: rgba(128, 128, 128, 0.086);
}

.sectionImage {
    max-width: 100%;
}

footer {
    display: flex;
    background-color: #23272A;
    justify-content: center;
    padding: 36px;
}