* {
    color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    background-color: rgba(128, 128, 128, 0.086);
}

/* HEADER */

header {
    display: flex;
    background-color: white;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

section {
    display: flex;
    flex-direction: row;
}

.ytbMenu {
    width: 146px;
    height: 24px;
    background-color: transparent;
}

.search {
    width: 404px;
    height: 40px;
    border: 1px;
}

.icons {
    width: 130px;
    height: 34px;
    gap: 24px;
    background-color: transparent;
}

/* HEADER */
/* VIDEO */
 .video {
    width: 100%;
    height: 100%;
    top: 84px;
    left: 75px;
    gap: 16px;   
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 3rem;
 }

 .videoAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .channelInfos {
    width: 160px;
    height: 40px;
 }

 .subscribe {
    width: 160px;
    height: 40px;
 }

 .like {
    width: 60px;
    height: 25px;
 }

 .deslike {
    width: 100px;
    height: 25px;
 }

 .share {
    width: 120px;
    height: 25px;
 }

 .download {
    width: 100px;
    height: 25px;
 }

 .description {
    color: #515151;
 }
/* VIDEO */

.sidebar {
    padding: 1rem;
    width: 45%;
    height: 100%;
}
